<component name="libraryTable">
  <library name="springjars">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../Spring Program2/springjars" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../Spring Program2/springjars" recursive="false" />
  </library>
</component>