<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean class = "in.sp.beans.Student" id ="stdId1">
     <property name = "name" value ="Nabin"/>
     <property name = "rollno" value = "399"/>
     <property name = "email" value ="nabinstrivex@gmail.com"/>

 </bean>

    <bean class = "in.sp.beans.Student" id ="stdId2">
        <property name = "name" value ="Nabkiran"/>
        <property name = "rollno" value = "255"/>
        <property name = "email" value ="nabkiranoli12@gmail.com"/>

    </bean>

</beans>